mixin ui-input(id, text, mods, type)
  -
    const baseName = 'ui-input'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if type === 'file'
    .ui-input(class=allMods)
      .ui-input__files
      .ui-input__control
        input(id=id type='file')&attributes(attributes)
        label(for=id) Прикрепить файл к сообщению
        block
      //- .ui-input__error Некорректный формат файла, допускается только JPG, PNG, PDF
  else
    .ui-input(class=allMods class=(text ? '' : 'ui-input--no-label'))
      input(id=id type=(typeof(type) !== 'undefined' && type ? type : 'text'))&attributes(attributes)
      if text
        label(for=id)=text
      block
